@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4">Total Views: </div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>

    @* <div class="row">
        <div class="col-4">Total Views With Return: </div>
        <div class="col-4">
            <span id="totalViewsReturn"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Total Views With Params: </div>
        <div class="col-4">
            <span id="totalViewsParams"></span>
        </div>
    </div> *@

    <div class="row">
        <div class="col-4">Total Connections/Users: </div>
        <div class="col-4">
            <span id="totalUsersCounter"></span>
        </div>
    </div>

    <br/>

    <div class="row border p-1">
        <h3>Deathly Hallow Race </h3>
        @* Wand *@
        <div class="col-3">
            <div>Elder Wand - <span id="wandCounter"></span></div>
        </div>

        @* Sword *@
        <div class="col-3">
            <div>Gryffindor Sword - <span id="swordCounter"></span></div>
        </div>

        @* Stone *@
        <div class="col-3">
            <div>Resurrection Stone - <span id="stoneCounter"></span></div>
        </div>

        @* Cloak *@
        <div class="col-3">
            <div>Invisibility Cloak - <span id="cloakCounter"></span></div>
        </div>

        <hr/>
        <p>Url to Vote:</p>
        <div>1. Elder Wand - https://localhost:7272/Home/DeathlyHallows?type=wand </div>
        <div>2. Gryffindor Sword - https://localhost:7272/Home/DeathlyHallows?type=sword </div>
        <div>3. Resurrection Stone - https://localhost:7272/Home/DeathlyHallows?type=stone </div>
        <div>4. Invisibility Cloak - https://localhost:7272/Home/DeathlyHallows?type=cloak </div>
    </div>

</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>
<script src="~/js/deathlyHallows.js"></script>