@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4">Total Views: </div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>

    @* <div class="row">
        <div class="col-4">Total Views With Return: </div>
        <div class="col-4">
            <span id="totalViewsReturn"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Total Views With Params: </div>
        <div class="col-4">
            <span id="totalViewsParams"></span>
        </div>
    </div> *@

    <div class="row">
        <div class="col-4">Total Connections/Users: </div>
        <div class="col-4">
            <span id="totalUsersCounter"></span>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>
<script src="~/js/deathlyHallows.js"></script>