@{
    ViewData["Title"] = "Space Missions Voting";
}

<div class="container mt-3">
    <div class="jumbotron">
        <h2 class="display-3">Space Missions Voting</h2>
        <p class="lead">Vote for your favourite space mission!</p>
    </div>
    <hr/>
    @await Html.PartialAsync("_SpaceMission", new
    {
        MissionName = ViewBag.MissionName = "Apollo 11",
        MissionIdCounter = ViewBag.MissionIdCounter = "apolloCounter",
        MissionIdPercentage = ViewBag.MissionIdPercentage = "apolloPercentage",
        MissionIdProgress = ViewBag.MissionIdProgress = "apolloProgress",
        MissionIdBtn = ViewBag.MissionIdBtn = "btnApollo"
    })
    <hr/>
    @await Html.PartialAsync("_SpaceMission", new
    {
        MissionName = ViewBag.MissionName = "Voyager 1",
        MissionIdCounter = ViewBag.MissionIdCounter = "voyagerCounter",
        MissionIdPercentage = ViewBag.MissionIdPercentage = "voyagerPercentage",
        MissionIdProgress = ViewBag.MissionIdProgress = "voyagerProgress",
        MissionIdBtn = ViewBag.MissionIdBtn = "btnVoyager"
    })
    <hr/>
    @await Html.PartialAsync("_SpaceMission", new
    {
        MissionName = ViewBag.MissionName = "Hubble Telescope",
        MissionIdCounter = ViewBag.MissionIdCounter = "hubbleCounter",
        MissionIdPercentage = ViewBag.MissionIdPercentage = "hubblePercentage",
        MissionIdProgress = ViewBag.MissionIdProgress = "hubbleProgress",
        MissionIdBtn = ViewBag.MissionIdBtn = "btnHubble"
    })
    <hr/>
    @await Html.PartialAsync("_SpaceMission", new
    {
        MissionName = ViewBag.MissionName = "Mars Rover",
        MissionIdCounter = ViewBag.MissionIdCounter = "marsCounter",
        MissionIdPercentage = ViewBag.MissionIdPercentage = "marsPercentage",
        MissionIdProgress = ViewBag.MissionIdProgress = "marsProgress",
        MissionIdBtn = ViewBag.MissionIdBtn = "btnMars"
    })
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/voting.js"></script>