@{
    ViewData["Title"] = "Space Missions Voting";
}

<div class="container">
    <div class="row border p-1">
        <h3>Space Missions Voting</h3>
        <p class="lead">
            Vote for your favorite space mission and see the results update in real-time!
        </p>
        <hr/>
        <div class="row">
            <div>Apollo 11 - <span id="apolloCounter"></span></div>
        </div>
        <div class="row">
            <div>Voyager 1 - <span id="voyagerCounter"></span></div>
        </div>
        <div class="row">
            <div>Hubble Telescope - <span id="hubbleCounter"></span></div>
        </div>
        <div class="row">
            <div>Mars Rover - <span id="marsCounter"></span></div>
        </div>
        <hr/>

        @{
            var buttonsData = new (string Id, string Text)[]
            {
                ("btnApollo", "Vote Apollo 11"),
                ("btnVoyager", "Vote Voyager 1"),
                ("btnHubble", "Vote Hubble Telescope"),
                ("btnMars", "Vote Mars Rover")
            };
        }

        <div style="display: flex; justify-content: space-between;" class="mb-2">
            @foreach (var (Id, Text) in buttonsData)
            {
                <button id="@Id" class="btn btn-primary">@Text</button>
            }
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/voting.js"></script>